<h1><%= @list.name %></h1>
<div class="row my-2">
  <% @list.movies.each_with_index do |movie, index| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>

    <div class="col-md-4 mb-3 p-3">
      <div class="movie-card p-3">
        <h3><%= movie.title %></h3>

       <% if movie.poster.attached? %>
        <%= image_tag movie.poster, alt: movie.title, class: "img-fluid rounded" %>
      <% else %>
        <p>No poster available</p>
      <% end %>
      
        <%= form_with model: bookmark, method: :delete, url: list_bookmark_path(@list, bookmark), local: true do |form| %>
          <%= form.submit "Delete", class: "btn btn-danger text-white rounded" %>
        <% end %>
      </div>
    </div>

    <% if (index + 1) % 3 == 0 %>
      </div><div class="row my-2">
    <% end %>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Back", lists_path, class: "btn btn-secondary rounded" %>
</div>
